<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Main</title>
</head>


<style>

    div { margin-top: 10%; text-align: center;
    }
     #video {
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
     overflow: hidden;
}


</style>

<body>



    <video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
      <source src="/static/bgm.mp4">

</video>


<div>
        <img src="/static/welcome.gif"> <br>

        <a href="main/"><img src="/static/click.gif"></a>
</div>
</body>
</html>